    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About</h2>
                <p>PLGN (читается "полигон") - это открытая лаборатория для экспериментов и обучения в области искусства и технологий.</p>
                <h3> А зачем это все? </h3>
                <p> Мы обьединились для того чтобы вместе делать проекты и помогать друг другу. </p>
                <h3> А где почитать анонсы мероприятий? </h3>
                <p> У нас есть <a href="https://t.me/plgnnews"> телеграм канал </a></p>
                <p>Больше информации о нас можно найти в <a href="https://www.notion.so/PLGN-DATABASE-3981132db6b948b282c7aa3afd02c466">Notion</a>.</p>
                <h3> Прикольно, а можно мне поучаствовать? </h3>
                <p> Конечно можно! Добавляйтесь, приходите на мероприятия - все расскажем и покажем!</p>
            </div>
        </div>
    </section>
